.header__menu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
  background-color: #5a5ad7;
}
.header__menu li a {
  text-decoration: none;
  color: black;
}
.header__menu li a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.4s;
}
.hero {
  display: flex;
}
.hero__grid {
  margin-right: 200px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 400px;
  grid-row-gap: 2px;
  padding: 20px 40px 20px 40px;
}
.hero__grid li a {
  text-decoration: none;
  color: #fff;
}
.hero__grid li a:hover {
  text-decoration: underline;
}
.footer__title {
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 36px;
  margin: 0 10px 0 10px;
  border-top: 2px solid rgb(255, 255, 255);
}
main {
  background-color: #3c3ca0;
}
footer {
  background-color: #3c3ca0;
}
li {
  list-style: none;
}
.hero__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__img_social {
  margin-left: 20px;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.4s;
  cursor: pointer;
}
.hero__img_social.insta:hover {
  background-image: url(/img/insta.png) !important;
}
.hero__img_social.fb:hover {
  background-image: url(/img/fb.png) !important;
}
.hero__img_social.yt:hover {
  background-image: url(/img/youtube.png) !important;
}
.hero__img_social:hover {
  transition: 0.4s;
}
@media screen and (max-width: 1180px) {
  .hero__grid {
    margin-right: 100px;
    margin-left: 50px;
    grid-column-gap: 300px;
  }
}
@media screen and (max-width: 980px) {
  .hero__grid {
    margin-right: 60px;
    margin-left: 50px;
    grid-column-gap: 200px;
  }
}
@media screen and (max-width: 840px) {
  .hero__grid {
    margin-right: 40px;
    margin-left: 30px;
    grid-column-gap: 80px;
  }
}
@media screen and (max-width: 690px) {
  .hero__grid {
    margin-right: 30px;
    margin-left: 20px;
    grid-column-gap: 50px;
  }
}
