.header__menu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
}
.header__menu li a {
  text-decoration: none;
  color: black;
}
.header__menu li a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.4s;
}
.header__title {
  color: white;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(190, 63, 245);
  height: 30px;
  padding-left: 30px;
  padding-top: 20px;
}
.main__title {
  color: white;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(168, 31, 226);
  height: 30px;
  margin-top: 10px;
  padding-left: 30px;
  padding-top: 12px;
}
.footer__title {
  color: white;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(168, 31, 226);
  padding-left: 30px;
  padding-top: 12px;
  padding: 12px 0 12px 30px;
}
.hero__grid {
  color: white;
  font-weight: 600;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: (10, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
  padding: 16px 24px 16px 24px;
}
.box1 {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(246, 122, 255);
}
.box2 {
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: rgb(246, 122, 255);
}
.box3 {
  padding: 30px 50px 30px 50px;
  grid-column-start: 4;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 11;
  background-color: rgb(246, 122, 255);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.box4 {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  direction: unset;
  writing-mode: vertical-lr;
  text-orientation: upright;
  grid-column-start: 14;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 7;
  background-color: rgb(246, 122, 255);
}
.section1 {
  background-color: rgb(249, 172, 255);
  grid-row-start: 2;
  grid-row-end: 4;
}
.section2 {
  background-color: rgb(249, 172, 255);
  grid-row-start: 4;
  grid-row-end: 6;
}
