.header,
.hero,
.footer {
  display: flex;
  background-color: #087163;
}
.header__menu {
  margin-top: 70px;
  margin-left: 40px;
}
.header__menu ul li {
  color: #fff;
  text-decoration: none;
}
.header__menu ul li a {
  color: #ffffffc3;
  text-decoration: none;
  font-weight: 300;
  font-family: Roboto;
}
.hero__content {
  color: #fff;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 38px;
  font-weight: 700;
  font-family: Roboto;
}
.footer__content {
  margin-top: 46px;
  margin-left: 40px;
  color: #fff;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content_img {
  width: 56px;
  height: 56px;
}
.footer__content_mobile {
  display: flex;
  justify-content: center;
}
.footer__content_item {
  margin-left: 20px;
}
.footer__content_item h2 {
  font-weight: 300;
  color: #ffffffc3;
  font-family: Roboto;
}
.footer__content_item h1 {
  font-weight: 500;
  color: #ffffff;
  font-family: Roboto;
}
@media screen and (max-width: 600px) {
  .footer__content_mobile {
    flex-direction: column;
    margin-left: 40px;
  }
  .footer__content_item {
    margin-left: 0;
    margin-top: 20px;
  }
}
