.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 30px;
}
.header__menu ul li a {
  color: #000;
  text-decoration: none;
}
.header__menu ul li a:hover {
  color: #ff0000;
}
main {
  margin-top: 50px;
}
.hero__content {
  display: flex;
  justify-content: center;
}
.hero__content_img div {
  margin-right: 20px;
}
.hero__content_img div img {
  height: 260px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  width: 100%;
}
.hero__content_img div p {
  margin-top: -3px;
  color: #fff;
  padding: 10px 20px;
  background-color: #37516c;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-bottom: 20px;
}
.hero__content_text {
  padding-right: 20px;
}
.hero__content_text h1 {
  font-weight: 700;
  font-size: 24px;
}
.hero__content_text p {
  font-size: 20px;
}
