.header__menu {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.header__menu li a {
  text-decoration: none;
  color: black;
}
.header__menu li a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.4s;
}
.header__sidebar li {
  display: flex;
  align-items: center;
  background-color: rgb(153, 153, 153);
  width: 200px;
}
.header__sidebar {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header__sidebar span {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.header__sidebar img {
  height: 50px;
  width: 50px;
}
.header__sidebar li:hover {
  background-color: rgb(130, 130, 130);
}
